*{
    font-family:roboto ;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    
}
.container{
    display: flex;
    justify-content: center;
    flex: auto;

}
.header{
    background: #1f2837;
    display: flex;
    color: #F9FAF8;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
    
}
.header ul{
    list-style-type: none;
    display: flex;
    gap: 8px;
    font-size: 9px;
    color: #e5e7eb;
    gap: 10;
}